{
  "$schema": "https://json.schemastore.org/prettierrc",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "proseWrap": "always",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
